<template name="setup_tabs">
    <div class="setup-tabs">
        <div class="setup-tabbed">
            <ul>
                {{#each it in gtdItems}}
                    <li data-itabbed="{{it.id}}" data-ronin-itb-route="{{gtdRoute it}}">
                        <a href="#{{it.id}}">{{it.label}}</a>
                    </li>
                {{/each}}
            </ul>
            {{#each it in gtdItems}}
                <div id="{{it.id}}">
                    {{>Template.dynamic template=(itTemplate it)}}
                </div>
            {{/each}}
        </div>
    </div>
</template>
