<template name="appDesktop">
    <div class="layout-desktop">
        <div class="lyt-bar">
            <div class="menubar">
                <p>menu bar here</p>
            </div>
            {{>errors}}
            {{> loginButtons align="right"}}
        </div>
        <div class="lyt-body">
            <div class="lyt-side">
                {{> menu_side}}
            </div>
            <div class="lyt-main">
                {{> overview}}
                {{> Template.dynamic template=main}}
            </div>
            <div id="{{rootId}}"></div>
        </div>
        <div class="lyt-taskbar"></div>
    </div>
</template>
