<template name="projects_footer">
    <div class="projects-footer">

        <div class="wsf-content">
            {{> projects_tabs }}
        </div>

        <div class="wsf-footer d-flex justify-content-between">
            <button type="button" class="js-expand ui-corner-all ui-button {{widthClass}}" title="Expand all">
                <span class="fas fa-expand-arrows-alt"></span>
                <span class="label">Expand all</span>
            </button>
            <button type="button" class="js-rebuild ui-corner-all ui-button {{widthClass}}" title="Rebuild">
                    <span class="fas fa-redo-alt"></span>
                    <span class="label">Rebuild</span>
            </button>
            <button type="button" class="js-collapse ui-corner-all ui-button {{widthClass}}" title="Collapse all">
                <span class="fas fa-compress-arrows-alt"></span>
                <span class="label">Collapse all</span>
            </button>
            <button type="button" class="js-dump ui-corner-all ui-button {{develClass}} {{widthClass}}" title="Dump">
                <span class="fas fa-print"></span>
                <span class="label">Dump</span>
            </button>
            <button type="button" class="js-new ui-corner-all ui-button {{widthClass}}" title="New">
                <span class="fas fa-plus"></span>
                <span class="label">New</span>
            </button>
        </div>

    </div>
</template>
