/*
 * window-based layout
 *
 *  NB: only specify here what is characteristics of the Simone window manager
 *      and notably the enclosing widget, title bar, button pane...
 */
.ronin-iwm-widget.ui-dialog {
    .ui-dialog-titlebar {
        border-radius: 3px 3px 0 0;
        padding-left: 0.5em;
        font-weight: normal;
        border: 0;
        span {
            font-size: 95%
        }
        button {
            font-size: 0;
        }
        .ui-icon {
            background-image: url('/jquery-ui/ui-icons_444444_256x240.png');
        }
        .ui-icon.simone-window-icon.undefined {
            display: none;
        }
        .ronin-iwm-titlebar {
            display: flex;
            margin-right: 4.5rem;
            justify-content: flex-end;
            align-items: center;
        }
        .ronin-iwm-titlebar button {
            font-size: 0.8rem;
            padding: 0.1rem 0.5rem;
            margin-right: 0.25rem;
        }
        .ronin-iwm-titlebar button:hover {
            color: white;
            background-color: var( --blue );
        }
    }
    .ui-dialog-titlebar.ui-state-active {
        font-weight: bold;
    }
    .ronin-iwm-window.ui-dialog-content {
        padding: 0;
    }
    .ui-dialog-buttonpane {
        width: calc( 100% - 1rem );
        left: 0.5rem;
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        .ui-dialog-buttonset {
            float: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            :first-child {
                flex-grow: 1;
            }
        }
    }
}
.simone-taskbar {
    .simone-taskbar-window-group-menu > .ui-menu-item > .ui-button {
        right: 0rem;
    }
    .simone-taskbar-minimize-all.ui-button {
        .ui-icon {
            background-image: url('/jquery-ui/ui-icons_444444_256x240.png');
        }
        .ui-icon-minusthick {
            background-position: -48px -128px;
        }
    }
    .simone-taskbar-window-close.ui-button {
        padding: 0.15rem;
        background-color: white;
        color: gray;
        .ui-icon {
            background-image: url('/jquery-ui/ui-icons_444444_256x240.png');
        }
        .ui-icon-closethick {
            background-position: -80px -128px;
        }
    }
}
/*
 * window-based layout
 *  gtd features group colors
 */
.ronin-iwm-setupGroup {
    .ui-tabs-tab.ui-state-active,
    .ui-widget-header.ui-state-active {
        background: @setup-color;
        border: 0;
    }
}
.ronin-iwm-collectGroup {
    .ui-tabs-tab.ui-state-active,
    .ui-widget-header.ui-state-active {
        background: @collect-color;
        border: 0;
    }
}
.ronin-iwm-processGroup {
    .ui-tabs-tab.ui-state-active,
    .ui-widget-header.ui-state-active {
        background: @process-color;
        border: 0;
    }
}
.ronin-iwm-reviewGroup {
    .ui-tabs-tab.ui-state-active,
    .ui-widget-header.ui-state-active {
        background: @review-color;
        border: 0;
    }
}
.simone-taskbar {
    .simone-taskbar-window-button[data-group-name*='Group']:hover,
    .simone-taskbar-window-button[data-group-name*='Group'].ui-state-active:hover {
        color: white
    }
    .simone-taskbar-window-group-menu[data-group-name*='Group'] {
        .simone-taskbar-window-group-element-active {
            a {
                border: none;
                width: -moz-available;
            }
            .simone-taskbar-window-close.ui-button:hover {
                border-color: @app-color;
                color: @app-color;  // doesn't work
                background-color: white;
            }
        }
    }

    .simone-taskbar-window-button[data-group-name*='setupGroup'].ui-state-active {
        background-color: @setup-color;
        border: darken( @setup-color, 25% );
    }
    .simone-taskbar-window-button[data-group-name*='setupGroup']:hover,
    .simone-taskbar-window-button[data-group-name*='setupGroup'].ui-state-active:hover {
        background-color: darken( @setup-color, 10% );
    }
    .simone-taskbar-window-group-menu[data-group-name*='setupGroup'] {
        .simone-taskbar-window-close.ui-button {
            border-color: darken( @setup-color, 25% );
        }
        .simone-taskbar-window-group-element-active {
            a {
                background-color: @setup-color;
            }
        }
    }

    .simone-taskbar-window-button[data-group-name*='collectGroup'].ui-state-active {
        background-color: @collect-color;
        border: darken( @collect-color, 25% );
    }
    .simone-taskbar-window-button[data-group-name*='collectGroup']:hover,
    .simone-taskbar-window-button[data-group-name*='collectGroup'].ui-state-active:hover {
        background-color: darken( @collect-color, 10% );
    }
    .simone-taskbar-window-group-menu[data-group-name*='collectGroup'] {
        .simone-taskbar-window-close.ui-button {
            border-color: darken( @collect-color, 25% );
        }
        .simone-taskbar-window-group-element-active {
            a {
                background-color: @collect-color;
            }
        }
    }

    .simone-taskbar-window-button[data-group-name*='processGroup'].ui-state-active {
        background-color: @process-color;
        border: darken( @process-color, 25% );
    }
    .simone-taskbar-window-button[data-group-name*='processGroup']:hover,
    .simone-taskbar-window-button[data-group-name*='processGroup'].ui-state-active:hover {
        background-color: darken( @process-color, 10% );
    }
    .simone-taskbar-window-group-menu[data-group-name*='processGroup'] {
        .simone-taskbar-window-close.ui-button {
            border-color: darken( @process-color, 25% );
        }
        .simone-taskbar-window-group-element-active {
            a {
                background-color: @process-color;
            }
        }
    }

    .simone-taskbar-window-button[data-group-name*='reviewGroup'].ui-state-active {
        background-color: @review-color;
        border: darken( @review-color, 25% );
    }
    .simone-taskbar-window-button[data-group-name*='reviewGroup']:hover,
    .simone-taskbar-window-button[data-group-name*='reviewGroup'].ui-state-active:hover {
        background-color: darken( @review-color, 10% );
    }
    .simone-taskbar-window-group-menu[data-group-name*='reviewGroup'] {
        .simone-taskbar-window-close.ui-button {
            border-color: darken( @review-color, 25% );
        }
        .simone-taskbar-window-group-element-active {
            a {
                background-color: @review-color;
            }
        }
    }
}
