.text-badge {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0 0.5rem;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 7px;
    margin-top: -1px;
    margin-bottom: -1px;
    white-space: nowrap;
    // is it the right place for that ?
    margin-right: 0.25rem;
}
/*
.text-badge > span.inline {
}
*/
.ronin-lyt-page .text-badge {
    line-height: 1rem;
    padding: 0.125rem 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
