<template name="actions_grid">
    <div class="actions-grid">

        <table class="js-grid x-grid">
            <thead>
                <tr>
                    <th data-column-id="btn-edit" class="x-wmin"></th>
                    <th data-column-id="btn-ownership" class="x-wmin"></th>
                    <th data-column-id="btn-project" class="x-wmin"></th>
                    <th data-column-id="name" class="x-w15">Name</th>
                    <th data-column-id="topic" class="x-w15">Topic</th>
                    <th data-column-id="context" class="x-w15">Context</th>
                    <th data-column-id="parent" class="x-w15">Project</th>
                    <th data-column-id="created">Created</th>
                    {{#if isDoneTab }}
                        <th data-column-id="done">Done</th>
                    {{/if}}
                    <th data-column-id="btn-delete" class="x-wmin"></th>
                </tr>
            </thead>
            <tbody>
                {{#each it in actions}}
                    <tr class="review-tr">
                        <td class="x-wmin">{{> edit_button item=it }}</td>
                        <td class="x-wmin">{{> ownership_button item=it }}</td>
                        <td class="x-wmin">{{> project_button item=it }}</td>
                        <td class="x-ellipsize"><p>{{ getName it }}</p></td>
                        <td class="x-ellipsize"><p>{{ getTopic it }}</p></td>
                        <td class="x-ellipsize"><p>{{ getContext it }}</p></td>
                        <td class="x-ellipsize"><p>{{ getParent it }}</p></td>
                        <td>{{ getCreated it }}</td>
                        {{#if isDoneTab }}
                            <td>{{ getDone it }}</td>
                        {{/if}}
                        <td class="x-wmin">{{> delete_button item=it }}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</template>
