<template name="actions_grid">
    <div class="actions-grid">

        <table class="js-grid">
            <thead>
                <tr>
                    <th class="x-w15"></th>
                    <th data-column-name="name" class="x-w25 igrid-border igrid-sortable">Name</th>
                    <th data-column-name="topic" class="x-w20 igrid-border igrid-sortable">Topic</th>
                    <th data-column-name="context" class="x-w20 igrid-border igrid-sortable">Context</th>
                    <th data-column-name="parent" class="x-w20 igrid-border igrid-sortable">Project</th>
                    <th data-column-name="created" class="igrid-border igrid-sortable">Created</th>
                    {{#if isDoneTab }}
                        <th data-column-name="done" class="igrid-border igrid-sortable">Done</th>
                    {{/if}}
                    <th class="x-wmin"></th>
                </tr>
            </thead>
            <tbody>
                {{#each it in actions}}
                    <tr data-row-id="{{ it._id }}">
                        <td class="btn-actions">
                            {{> edit_button item=it }}
                            {{> ownership_button item=it }}
                            {{> project_button item=it }}
                        </td>
                        <td class="x-ellipsize"><p>{{ getName it }}</p></td>
                        <td class="x-ellipsize"><p>{{ getTopic it }}</p></td>
                        <td class="x-ellipsize"><p>{{ getContext it }}</p></td>
                        <td class="x-ellipsize"><p>{{ getParent it }}</p></td>
                        <td>{{ getCreated it }}</td>
                        {{#if isDoneTab }}
                            <td>{{ getDone it }}</td>
                        {{/if}}
                        <td class="btn-actions">
                            {{> delete_button item=it }}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</template>
