# ignored for confidentiality reasons
.keystore
maintainer/www-host/start.sh

# ignored as useless in a repository
.vscode
cordova-build-override/platforms/android/res/
maintainer/packages/
maintainer/unused/
node_modules/
