.collect-edit {
    .thought-edit {
        margin-top: 0.5rem;
    }
}
.collect-window {
    .thought-edit {
        padding-bottom: 0.25em;
        border-bottom: 1px solid @border-color;
    }
}

.edit-header {
    background-color: @collect-color-l25;
}
.actions {
    padding-top: 0.5em;
    span.text {
        margin-left: 0.5em;
    }
    button.btn-cancel {
        margin-left: 0.5rem;
    }
}
