<template name="thought_edit">
    <div class="thought-edit">

        {{#if isPageLayout}}
            <div class="x-hidden">
                {{title}}
            </div>
        {{else}}
            <div class="edit-header">
                <p class="x-h2">{{title}}</p>
            </div>
        {{/if}}

        <form class="js-edit">
            <div class="d-flex flex-column justify-content-end">

                <div class="flex-grow-1">
                    <div class="collapse show" id="{{collapsableId}}">
                        <table class="edit-body">
                            <tr>
                                <td class="label x-hright"><p>Thought:</p></td>
                                <td class="w-100">
                                    <input
                                        name="name"
                                        class="js-name w-100 form-control"
                                        type="text"
                                        placeholder="{{namePlaceholder}}"
                                        value="{{nameValue}}" />
                                </td>
                            </tr>
                            <tr>
                                <td class="label x-hright"><p>Topic:</p></td>
                                <td>{{> topics_select selected=topic }}</td>
                            </tr>
                            <tr>
                                <td class="label x-hright x-vtop"><p>Description:</p></td>
                                <td colspan="{{colSpan}}">
                                    <textarea
                                        name="description"
                                        class="js-description w-100 form-control"
                                        rows="{{rowsCount}}"
                                        placeholder="{{descriptionPlaceholder}}">{{descriptionValue}}</textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div>
                    <div class="actions d-flex justify-content-start align-items-center">
                        <div class="flex-grow-1">
                            {{#if collapsable }}
                                <button class="js-collapse ui-button ui-corner-all"
                                        data-toggle="collapse" data-target="#{{collapsableId}}">
                                    <div class="{{showUp}}">
                                        <span class="fas fa-angle-up"></span>
                                    </div>
                                    <div class="{{showDown}}">
                                        <span class="fas fa-angle-down"></span>
                                        <span class="text">Collect thoughts</span>
                                    </div>
                                </button>
                            {{/if}}
                        </div>
                        <button class="btn-submit ui-corner-all ui-button {{showUp}}"
                                type="submit" title="Submit">
                            {{submit}}
                        </button>
                        <button class="js-cancel btn-cancel ui-button ui-corner-all {{showUp}}" title="Cancel">
                            <!-- <span class="fas fa-times"></span> -->
                            Cancel
                        </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</template>
