<template name="projects_classes">
    <div class="projects-classes">
        <div id="tabs">
            <ul>
                {{#each item in classes}}
                    <li><a href="#{{item.tabid}}">{{item.value}}</a></li>
                {{/each}}
            </ul>
            {{#each item in classes}}
                <div id="{{item.tabid}}">
                    {{> projects_tree tabid=item.tabid label=item.value}}
                </div>
            {{/each}}
        </div>
    </div>
</template>
