.pwi-editWindow {
    div.edit-window {
        div.action-edit,
        div.project-edit {
            margin: 0.25em 0.5em;
            fieldset {
                margin: 0;
                padding: 0;
                border: 0;
            }
        }
    }
    div.ui-widget-header.ui-state-active {
        background: @process-color;
        border: darken( @process-color, 25% );
    }
}
.simone-taskbar-window-button[data-group-name*='editWindow'].ui-state-active {
    background-color: @process-color;
    border: darken( @process-color, 25% );
}
.simone-taskbar-window-button[data-group-name*='editWindow']:hover,
.simone-taskbar-window-button[data-group-name*='editWindow'].ui-state-active:hover {
    background-color: lighten( @process-color, 25% );
    border: @process-color;
    color: white
}
