div.thoughts-badge {
    span.inline {
        color: @app-color;
        font-weight: bold;
        font-style: italic;
        border: 1px solid white;
        border-radius: 5px;
        padding: 2px 8px;
    }
}
