<template name="prefs_tabs">
    <div class="prefs-tabs ronin-wnd-content">

        <div class="wsf-content">

            <ul class="nav nav-tabs" role="tablist">
                {{#each it in gtdItems}}
                    <li class="nav-item" role="presentation" data-itabbed="{{it.id}}" data-ronin-itb-route="{{gtdRoute it}}">
                        <a class="nav-link" href="#{{it.id}}" role="tab" data-toggle="tab">{{gtdLabel it}}</a>
                    </li>
                {{/each}}
            </ul>
            <div class="tab-content">
                {{#each it in gtdItems}}
                    <div role="tabpanel" class="tab-pane fade" id="{{it.id}}">
                        {{> Template.dynamic template=(gtdPanel it) }}
                    </div>
                {{/each}}
            </div>

        </div>

    </div>
</template>
