<template name="windowLayout">
    <div class="window-layout ronin-layout container-fluid x-topmost">

        <div class="lyt-header">
            <div class="menubar">
                <p>menu bar here</p>
            </div>
            {{> message }}
            {{> loginButtons align="right" }}
        </div>

        <div class="lyt-content">
            <div class="lyt-side">
                {{> menu_side}}
            </div>
            <div class="lyt-main">
                {{> overview}}
                {{> Template.dynamic template=main }}
            </div>
            <div id="{{rootId}}"></div>
        </div>

        <div class="lyt-taskbar"></div>

    </div>
</template>
