<template name="thoughts_list_item">
    <div class="thoughts-list-item card" id={{itemDivId}}>

        <div class="title x-ellipsize">
            <div class="padx025 d-flex flex-row justify-content-start align-items-center">
                <div class="name w-50">
                    <p>{{ thought.name }}</p>
                </div>
                <div class="topic {{classTopic}}">
                    <p>{{ topic_byId thought.topic }}</p>
                </div>
                <div class="x-createdAt {{classCreatedAt}}">
                    <p>{{ lastUpdated thought }}</p>
                </div>
                <button
                    class="js-collapse ui-button ui-corner-all"
                    data-toggle="collapse"
                    data-target="#{{collapsableId}}"
                    data-thought="{{ thought._id }}"
                    aria-expanded="false"
                    title="Open {{thought.name}} details">
                        <span class="fas fa-bars"></span>
                </button>
            </div>
        </div>

        <div class="padx025 collapse" id="{{collapsableId}}">
            {{> thoughts_list_edit thought=thought }}
        </div>

    </div>
</template>
