/*
 * Global constants
 */
// app-color:
//  used for the application name of the mobile splash screen
// app-color-l25:
//  used as the mobile header color
@app-color: #999999;

// in page layout, keep a golden color
@page-color: #c19400;

@setup-color:   #a56c89;
@setup-color-d25:  darken( @setup-color, 25% );
@setup-color-d50:  darken( @setup-color, 50% );
@setup-color-l25:  lighten( @setup-color, 25% );

@collect-color:   #89ba68;
@collect-color-d25:  darken( @collect-color, 25% );
@collect-color-d50:  darken( @collect-color, 50% );
@collect-color-l25:  lighten( @collect-color, 25% );
@collect-color-lightest: lighten( @collect-color, 35% );

@process-color:   #ed8743;
@process-color-d25:  darken( @process-color, 25% );
@process-color-d50:  darken( @process-color, 50% );
@process-color-l25:  lighten( @process-color, 25% );

@review-color:   #5a9ad5;
@review-color-d25:  darken( @review-color, 25% );
@review-color-d50:  darken( @review-color, 50% );
@review-color-l25:  lighten( @review-color, 25% );
@review-color-lightest: lighten( @review-color, 35% );

@splitter-color:      lightgray;
@splitter-button-color: darken( @splitter-color, 25% );

@button-bg-color:   @splitter-color;
@border-color:      @splitter-color;

@context-edit-icons-color:  #2980b9;
@context-item-bg-color:     #d8e2e9;

@active-color:    @app-color;
@active-color-d25: darken( @active-color, 25% );
@active-color-d50: darken( @active-color, 50% );
@active-color-l25: lighten( @active-color, 25% );
@active-color-l50: lighten( @active-color, 50% );

@global-px: 0.5rem;
@tr-height: 2.5rem;
@topbar-height: 3rem;
@bottombar-height: 3rem;
