.ronin-panel {
    .panel-owner,
    .panel-id {
        padding-left: 0.5rem;
        color: gray;
        font-style: italic;
    }
    .panel-owner-title,
    .panel-id-title {
        color: gray;
    }
}
