.device-panel {
    padding: 0.25rem 0;
    td div.title {
        padding: 0.25rem 0 0.25rem 0.5rem;
        color: white;
        font-weight: bold;
        background-color: @setup-color-l25;
    }
}
