<template name="header_nav">
    <div class="header-nav d-flex justify-content-start align-items-center">

        {{ templateInit }}

        {{> gear_menu }}

        <span class="spacer"></span>
        <div class="title flex-grow-1">
            {{titleLabel}}
        </div>

        {{#if hasMenuBar}}
            <span class="spacer"></span>
            {{> menu_bar }}
        {{/if}}

        {{#if hasLayout}}
            <span class="spacer"></span>
            {{> layout_select mode=layoutMode }}
        {{/if}}

        {{#if isPageLayout}}
            {{#if hasBadges}}
                <span class="spacer"></span>
                {{#each badge in badgesList}}
                    {{> text_badge text=(badgeText badge) }}
                {{/each}}
            {{/if}}
        {{/if}}

        <span class="spacer"></span>
        {{ loginConsole }}
        {{> loginButtons align="right" }}
        <!-- {{> atForm }} -->
    </div>
</template>
