<template name="header_nav">
    <div class="header-nav d-flex justify-content-start align-items-center">

        <!-- make sure the first preSpacer is empty -->
        {{ preSpacerInit }}

        {{#if hasMenuButton}}
            {{{ preSpacer }}}
            {{> gear_menu }}
        {{/if}}

        {{#if hasTitle}}
            {{{ preSpacer }}}
            <div class="title flex-grow-1">
                {{title}}
            </div>
        {{/if}}

        {{#if hasMenuBar}}
            {{{ preSpacer }}}
            {{> menu_bar }}
        {{/if}}

        <div class="x-hidew580">
                {{{ preSpacer }}}
                {{> layout_select }}
            </div>

        {{#if isPageLayout}}
            <div class="x-hidew480">
                {{{ preSpacer }}}
                {{> text_badge text=displayBadge }}
            </div>
        {{/if}}

        {{{ preSpacer }}}
        {{ loginConsole }}
        {{> loginButtons align="right" }}
        <!-- {{> atForm }} -->
    </div>
</template>
