.pwi-reviewWindow {
    div.review-window {
        div.projects-tree {
            margin-left: 0.5em;
            ul.jqtree_common[role="tree"] {
                padding-left: 0.5em;
                padding-right: 0.5em;
        
                .jqtree-toggler,
                .icon {
                    padding-right: 0.5em;
                }
                li {
                    padding-top: 2px;
                    padding-bottom: 2px;
                }
                li span {
                    cursor: pointer;
                }
            }
            .rev-status-activable.icon {
                color: green;
            }
            .rev-status-done.icon {
                color: blue;
            }
        }
        div.review-ops {
            background-color: white;
            .operations {
                display: flex;
                justify-content: space-around;
                margin: 0.2em 0;
                padding: 0.5em 0;
                border: 1px solid #c5c5c5;
                button {
                    flex-grow: 1;
                    margin: 0 0.5em;
                }
            }
        }
    }
    div.ui-widget-header.ui-state-active {
        background: @review-color;
        border: darken( @review-color, 25% );
    }
}
.simone-taskbar-window-button[data-group-name*='reviewWindow'].ui-state-active {
    background-color: @review-color;
    border: darken( @review-color, 25% );
}
