.pwi-reviewWindow {
    div.review-window {
        div.projects-tree {
            margin-left: 0.5em;
            ul.jqtree_common[role="tree"] {
                padding-left: 0.5em;
                padding-right: 0.5em;
        
                .jqtree-toggler,
                .icon {
                    padding-right: 0.5em;
                }
                li {
                    padding-top: 2px;
                    padding-bottom: 2px;
                }
                li span {
                    cursor: pointer;
                }
            }
            .rev-status-activable.icon {
                color: green;
            }
            .rev-status-done.icon {
                color: blue;
            }
            .contextmenu-showing {
                background-color: #d1dfe9; //lighten( '#2980b9', 25% );
            }
        }
    }
    div.ui-widget-header.ui-state-active {
        background: @review-color;
        border: darken( @review-color, 25% );
    }
}
.simone-taskbar-window-button[data-group-name*='reviewWindow'].ui-state-active {
    background-color: @review-color;
    border: darken( @review-color, 25% );
}
.simone-taskbar-window-button[data-group-name*='reviewWindow']:hover,
.simone-taskbar-window-button[data-group-name*='reviewWindow'].ui-state-active:hover {
    background-color: lighten( @review-color, 25% );
    border: @review-color;
    color: white
}
