<template name="thoughts_list">
    <div class="thoughts-list ronin-wnd-content">

        {{#if isWindowLayout}}
            {{#if title }}
                <p class="x-h2">Thoughts list</p>
            {{/if}}
        {{/if}}

        <div>
            {{#if tabularIsPreferred}}
                {{> thoughts_grid thoughts=thoughts }}
            {{else}}
                {{#each it in thoughts}}
                    {{> thought_card thought=it }}
                {{/each}}
            {{/if}}
        </div>

    </div>
</template>
