<template name="thoughts_list">
    <div class="thoughts-list">

        {{#if isWindowLayout}}
            {{#if title }}
                <p class="x-h2">Thoughts list</p>
            {{/if}}
        {{/if}}

        <!--
        <table>
            {{#each it in thoughts}}
                <tr class="item" id="thought_{{it._id}}">
                    {{#if isDesktopLayout}}
                        <td class="icon-first">
                            {{#if isEditable editable}}
                                <button class="js-update ui-button ui-corner-all" data-thought="{{ it._id }}" title="Edit {{ it.name }}">
                                    <span class="fas fa-edit"></span>
                                </button>
                            {{/if}}
                        </td>
                    {{/if}}
                    <td class="w-100">
                        <table class="{{lineHeight}}">
                            <tr>
                                <td class="name w-50"><p>{{ it.name }}</p></td>
                                <td class="topic"><p>{{ topic_byId it.topic }}</p></td>
                                <td class="x-createdAt x-hidew480"><p>{{ lastUpdated it }}</p></td>
                            </tr>
                            <div class="collapse" id="collapse_{{ it._id }}">
                                <tr>
                                    <td colspan="3" class="description x-hright">
                                        <p>{{it.description}}</p>
                                    </td>
                                </tr>
                            </div>
                        </table>
                    </td>
                    <td class="icon-last">
                        {{#if isTouchableLayout}}
                            <button
                                class="js-bars ui-button ui-corner-all"
                                data-toggle="collapse"
                                data-target="#collapse_{{ it._id }}"
                                data-thought="{{ it._id }}"
                                title="Update {{it.name}}">
                                    <span class="fas fa-bars"></span>
                            </button>
                        {{else}}
                            <button
                                class="js-delete ui-button ui-corner-all"
                                data-thought="{{ it._id }}"
                                title="Delete {{it.name}}">
                                    <span class="fas fa-trash"></span>
                            </button>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </table>
        -->
        <!-- try to use the Bootstrap grid layout model -->
        <!--
        <div class="container-fluid">
            {{#each it in thoughts}}
                <div class="row">
                    <div class="{{colclassName}} x-name">{{ it.name }}</div>
                    <div class="{{colclassTopic}} topic">{{ topic_byId it.topic }}</div>
                    <div class="{{colclassCreatedAt}} x-createdAt x-hidew480">{{ lastUpdated it }}</div>
                    {{#if isEditable editable}}
                        <div class="col-1">
                            {{#if isTouchableLayout}}
                                <button class="js-bars ui-button ui-corner-all" data-thought="{{ it._id }}" title="Update {{it.name}}">
                                    <span class="fas fa-bars"></span>
                                </button>
                            {{else}}
                                <button class="js-delete ui-button ui-corner-all" data-thought="{{ it._id }}" title="Delete {{it.name}}">
                                    <span class="fas fa-trash"></span>
                                </button>
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
                <div class="row">
                    <div class="col x-description">{{it.description}}</div>
                </div>
            {{/each}}
        </div>
        -->
        <!-- have a flex model with cards -->
        <div>
            {{#each it in thoughts}}
                {{> thoughts_list_item thought=it }}
            {{/each}}
        </div>

    </div>
</template>
