div.ronin-layout {
    .lyt-header,
    .lyt-content,
    .lyt-footer {
        padding-left: @global-px;
        padding-right: @global-px;
    }
    .lyt-header {
        line-height: @topbar-height;
        .header-panel {
            .menu-button {
                .ui-button {
                    padding: 0.25em 0.5em;
                }
            }
            .title {
                font-weight: bold;
            }
            .layout-select {
                .ui-button {
                    padding: 0.25em 0.5em;
                }
            }
            .spacer {
                margin-left: 0.5em;
            }
            @media( max-width: 640px ){
                .layout-select {
                    .text {
                        display: none;
                    }
                }
            }
            @media( min-width: 641px ){
                .layout-select {
                    .text {
                        display: inline;
                    }
                }
            }
        }
        /* colors */
        background-color: @app-color;
        color: white;
        .ui-button {
            color: white;
            background-color: transparent;
            border-color: white;
        }
    }
    .ronin-group {
        width: 100%;
    }
    /* after the window itself, this is the highest common level for page and
     *  window layouts
     */
    .ronin-wnd-content {
        padding-right: 0.25rem;
    }
}
/*
 * pageLayout
 */
div.ronin-layout.ronin-lyt-page {
    @app-color: #c19400;
    .lyt-header {
        background-color: @app-color;
    }
    /*
     *  Fixed header - Sticky footer
     *  On mobile and touchable layouts, have a fixed header and an sticky footer.
     *  See https://medium.com/@andrejsabrickis/a-fullscreen-modal-with-fixed-header-footer-and-a-scrollable-content-1656845c8171
     */
    div.fhsf-parent {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: @topbar-height auto @bottombar-height;
        div.fhsf-footer {
            margin: 0.25rem 0;
        }
    }
    .fhsf-content {
        overflow-y: auto;
    }
    .fhsf-footer {
        padding: 0 @global-px;
    }
    .lyt-footer {
        a {
            color: @active-color;
        }
        .active {
            background-color: @active-color;
            color: white;
        }
        @media ( max-width: 380px ){
            .nav-link {
                padding: 0.5rem 0.25rem;
            }
        }
    }
    /*
     * Edition pages wsf-
     *  no header - sticky footer just above the fhsf-footer
     */
    .wsf-parent {
        .wsf-header {
            display: hidden;
        }
        .wsf-content {
            position: fixed;
            top: @topbar-height;
            bottom: calc( @bottombar-height + @bottombar-height );
            overflow-y: auto;
            margin: 0.25rem 0;
            padding-right: 0.5rem;
        }
        .wsf-footer {
            position :fixed;
            bottom: @bottombar-height;
            height: @bottombar-height;
            width: 100%;
            padding: 0.25rem 0;
            padding-right: 1rem;
            border-top: 1px solid @border-color;
        }
    }
}
/*
 * windowLayout
 */
div.ronin-layout.ronin-lyt-window {
    .lyt-side {
        height: 100%;
        padding-top: 0.5rem;
    }
}
