<template name="appLayout">
    <div class="ronin-layout container-fluid x-topmost {{ currentLayout }}">

        <!-- fhsf- classes are meant to be used on pageLayout only -->
        <div class="lyt-parent fhsf-parent">

            <div class="lyt-header fhsf-header">
                {{> lyt_header_panel }}
            </div>

            <div class="lyt-content fhsf-content d-flex flex-row">

                {{#if isWindowLayout}}
                    <div class="lyt-side">
                        {{> menu_side}}
                    </div>
                {{/if}}

                {{#if isWindowLayout }}
                    {{> overview}}
                {{/if}}

                {{#if hasTemplate }}
                    {{> Template.dynamic template=groupTemplate data=layoutContext }}
                {{/if}}

            </div>

            {{#if isPageLayout }}
                <div class="lyt-footer fhsf-footer">
                    {{> fhsf_footer_panel }}
                </div>
            {{/if}}

        </div>

        {{#if isPageLayout }}
            <div class="x-hidden">{{{ pblResized }}}</div>
        {{/if}}

        {{#if isWindowLayout }}
            <div id="{{ wblRootId }}"></div>
            <div class="lyt-taskbar"></div>
        {{/if}}

        {{> message }}

    </div>
</template>
