.projects-tree {
    .tree {
        ul.jqtree-tree .jqtree-title,
        ul.jqtree-tree ul.jqtree_common {
            margin-left: 0;
        }
        ul.jqtree-tree {
            margin-left: 1.5rem;    // toggler width = 1.5rem
            .jqtree-toggler {
                margin-left: -1.5rem;
                //color: lighten( @review-color, 10%);
                color: lightgray;
            }
            .jqtree-element[role=presentation] {
                align-items: center;
            }
            .jqtree-element>svg {
                width: 1.125rem;
            }
            .jqtree-title {
                padding-left: 0.5rem;
            }
            li.jqtree-folder ul[role=group] {
                padding-left: 1.5rem;
            }
        }
    }
}
