<template name="projects_tree">
    <div class="projects-tree">
        <div class="tree"></div>
        <div class="btns">
            <div class="input-check">
                <input type="checkbox" class="js-done" name="done" />Display done
            </div>
            <button type="button" class="js-expand ui-corner-all ui-button">Expand all</button>
            <!-- <input type="checkbox" class="js-collapse" name="collapse" />Collapse all<br /> -->
            <button type="button" class="js-dump x-hidden ui-corner-all ui-button">Dump tree</button>
        </div>
    </div>
</template>
