<template name="projects_tree">
    <div class="projects-tree">

        <div class="tree"></div>

        <div class="actions d-flex flex-row justify-content-start align-items-center">
            <div class="input-check x-mr1">
                <input type="checkbox" class="js-done x-mr025" name="done" />Display done
            </div>
            <button type="button" class="js-expand ui-corner-all ui-button x-mr1">Expand all</button>
            <!-- <input type="checkbox" class="js-collapse" name="collapse" />Collapse all<br /> -->
            <button type="button" class="js-dump x-hidden ui-corner-all ui-button x-mr1">Dump tree</button>
        </div>

    </div>
</template>
