.projects-tree {
    .tree {
        .jqtree-element {
            align-items: center;
        }
        .jqtree-element>svg {
            width: 1.125rem;
        }
        ul.jqtree-tree .jqtree-title,
        ul.jqtree-tree .jqtree-title.jqtree-title-folder {
            margin-left: 0.5rem;
        }
        li.jqtree-folder ul[role=group] {
            margin-left: 1.625rem;
        }
    }
}
