<template name="thoughts_list_card">
    <div class="thoughts-list-card x-py025">

        <div class="description">
            <p>{{thought.description}}</p>
        </div>

        <div class="x-createdAt {{classCreatedAt}}">
            <p>{{ lastUpdated thought }}</p>
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center">

            <button class="js-edit ui-button ui-corner-all" title="Edit">
                <span class="fas fa-edit"></span>
            </button>

            {{> ownership_button item=thought }}

            <button class="js-action ui-button ui-corner-all" title="Transform into an action">
                <span class="fas fa-file-alt"></span>
            </button>

            {{> project_button item=thought }}
            {{> maybe_button item=thought }}
            {{> delete_button item=thought }}

        </div>

    </div>
</template>
