<template name="thoughts_list_card">
    <div class="thoughts-list-card x-py025">

        <div class="description">
            <p>{{thought.description}}</p>
        </div>

        <div class="x-createdAt {{classCreatedAt}}">
            <p>{{ lastUpdated thought }}</p>
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center">

            <button class="ui-button ui-corner-all" title="Edit">
                <span class="fas fa-edit"></span>
            </button>

            <button class="ui-button ui-corner-all" title="Transform into an action">
                <span class="fas fa-file-alt"></span>
            </button>

            <button class="ui-button ui-corner-all" title="Transform into a project">
                <span class="fas fa-project-diagram"></span>
            </button>

            <button class="ui-button ui-corner-all" title="Someday / Maybe">
                <span class="fas fa-question-circle"></span>
            </button>

            <button class="ui-button ui-corner-all" title="Delete">
                <span class="fas fa-trash"></span>
            </button>

        </div>

    </div>
</template>
