<template name="to_project">
    <div class="to-project">
        <p>
            Transform the thought into a project
            because it will probably require several actions.<br />
            As all project, this new one will be reorderable in the projects view.
        </p>
        <table class="first x-w100">
            {{#each it in thought}}
                <tr>
                    <td class="label x-hright"><p>Project:</p></td>
                    <td class="data"><input class="js-name" type="text" size="40" value="{{ it.name }}" /></td>
                    <td class="label x-hright"><p>Topic:</p></td>
                    <td class="data js-topic">
                        {{> topics_select selected=it.topic}}
                    </td>
                </tr>
                <tr>
                    <td class="label x-hright"><p>Purpose:</p></td>
                    <td><input class="js-purpose" type="text" size="40" placeholder="Purpose" /></td>
                    <td class="label x-hright"><p>Vision:</p></td>
                    <td><input class="js-vision" type="text" size="40" placeholder="Vision" /></td>
                </tr>
                <tr>
                    <td class="label x-hright x-vtop"><p>Description:</p></td>
                    <td>
                        <textarea
                            name="description"
                            class="js-description"
                            placeholder="Description of the project"
                            rows="4" cols="40">{{ it.description }}</textarea>
                    </td>
                    <td class="label x-hright x-vtop"><p>Brainstorming:</p></td>
                    <td>
                        <textarea
                            name="brainstorm"
                            class="js-brainstorm"
                            placeholder="Brainstorming"
                            rows="4" cols="40"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label x-hright">Future project:</td>
                    <td colspan="3">
                        <table class="inside x-w100">
                            <tr>
                                <td><input type="checkbox" class="js-future winherit" /></td>
                                <td class="label x-hright"><p>Start date:</p></td>
                                <td class="js-datestart" title="Start date">{{> date_select }}</td>
                                <td class="label x-hright"><p>Due date:</p></td>
                                <td class="js-datedue" title="Due date">{{> date_select }}</td>
                                <td class="label x-hright"><p>Done date:</p></td>
                                <td class="js-datedone" title="Done date">{{> date_select }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="x-hidden">
                    <td colspan="4">
                        <p id="to-project-thought-id">{{ it._id }}</p>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <td class="button x-hcenter x-ptop05" colspan="4">
                    <button type="button" class="js-transform ui-button ui-corner-all ui-state-active">Transform</button>
                </td>
            </tr>
        </table>
    </div>
</template>
