<template name="actions_tabs">
    <div class="actions-tabs">
        <div class="actions-tabbed">
            <ul>
                {{#each it in tabs}}
                    <li data-itabbed="{{it.tab}}" data-pwi-iroutable-route="{{it.router}}"><a href="#{{it.tab}}">{{it.label}}</a></li>
                {{/each}}
            </ul>
            {{#each it in tabs}}
                <div id="{{it.tab}}">
                    {{> actions_grid tab=it.tab actions=(actions it.tab) }}
                </div>
            {{/each}}
        </div>
    </div>
</template>
