<template name="setup_tabs">
    <div class="setup-tabs">
        <div class="setup-tabbed">
            <ul>
                {{#each it in gtdSetup}}
                    <li data-itabbed="{{it.id}}"><a href="#{{it.id}}">{{it.label}}</a></li>
                {{/each}}
            </ul>
            {{#each it in gtdSetup}}
                <div id="{{it.id}}">
                    {{>Template.dynamic template=(itTemplate it)}}
                </div>
            {{/each}}
        </div>
    </div>
</template>
