<template name="gear_menu">
    <div class="menu-button">

        <div class="dropdown">
            <button class="js-settings ui-button ui-corner-all dropdown-toggle" data-toggle="dropdown">
                <span class="fas fa-cog"></span>
            </button>
            <div class="dropdown-menu">
                {{{ link "js-prefs" "Preferences..." }}}
                {{{ link "js-device" "Status & device informations..." }}}
                <div class="dropdown-divider"></div>
                {{{ link "js-apk" "Download Android APK..." }}}
                <div class="dropdown-divider"></div>
                {{{ link "js-about" "About..." }}}
            </div>
        </div>

    </div>
</template>
