div.layout-touchable {
    .lyt-header {
        background-color: #eeeeee;
        .title {
            margin-left: 1em;
            font-weight: bold;
        }
    }
    .lyt-body {
        background-color: #eff8be;
    }
    .lyt-footer {
        background-color: #c3f8f8;
    }
}
