div.layout-touchable {
    @bar-height: 3rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: @bar-height auto @bar-height;
    .lyt-header {
        background-color: @active-color-l50;
        .mobile-header {
            .title {
                margin-left: 1em;
                font-weight: bold;
            }
        }
    }
    .lyt-body {
        overflow-y: auto;
        background-color: @active-color-l75;
    }
    .lyt-footer {
        background-color: @active-color-l50;
        .mobile-footer {
            margin: 0.25rem 0;
        }
    }
}
