<template name="process_buttons">
    <div class="process-buttons">

        <!-- <p class="x-h2">What to do with this thought?</p> -->

        <div class="d-flex flex-column justify-content-center align-items-center">
            <button class="js-action ui-button ui-corner-all flex-fill">
                Transform the thought into an action
            </button>

            <button class="js-project ui-button ui-corner-all flex-fill">
                Transform the thought into a project
            </button>

            <button class="js-maybe ui-button ui-corner-all flex-fill">
                Someday / Maybe
            </button>
        </div>

    </div>
</template>
