<template name="menu_item">
    <div class="menu-item">
        {{#if isVisible this.item this.type }}
            <li>
                {{{ itemHtml this.item this.type }}}
                {{#if hasChildren this.item}}
                    <ul>
                        {{#each child in this.item.children}}
                            {{> menu_item item=child type=this.type }}
                        {{/each}}
                    </ul>
                {{/if}}
            </li>
        {{/if}}
    </div>
</template>
