<template name="process_dispatch">
    <div class="process-dispatch">
        <p class="x-h2">What to do with this thought?</p>
        <div class="process-tabs">
            <ul>
                <li data-itabbed="action">Transform the thought into an action</li>
                <li data-itabbed="project">Transform the thought into a project</li>
                <li data-itabbed="maybe">Someday / Maybe</li>
            </ul>
            <div id="action">
                {{> to_action thought=thought }}
            </div>
            <div id="project">
                {{> to_project thought=thought }}
            </div>
            <div id="maybe">
                {{> to_maybe thought=thought }}
            </div>
        </div>
    </div>
</template>
