.pwi-collectWindow {
    div.collect-window {
        .edit-header {
            background-color: @collect-color-light;
        }
        .list {
            p.x-h2 {
                background-color: @collect-color-light;
            }
        }
    }
    div.ui-widget-header.ui-state-active {
        background: @collect-color;
        border: darken( @collect-color, 25% );
    }
}
.simone-taskbar-window-button[data-group-name*='collectWindow'].ui-state-active {
    background-color: @collect-color;
    border: darken( @collect-color, 25% );
}
