<template name="lyt_header_panel">
    <div class="lyt-header-panel d-flex justify-content-start align-items-center">

        {{#if hasMenuButton}}
            {{{ preSpacer }}}
            {{> menu_button }}
        {{/if}}

        {{#if hasTitle}}
            {{{ preSpacer }}}
            <div class="title flex-grow-1">
                {{title}}
            </div>
        {{/if}}

        {{#if hasMenuBar}}
            {{{ preSpacer }}}
            {{> menu_bar }}
        {{/if}}

        <div class="x-hidew580">
            {{{ preSpacer }}}
            {{> layout_select }}
        </div>

        {{{ preSpacer }}}
        {{> loginButtons align="right" }}
        <!-- {{> atForm }} -->
    </div>
</template>
