<template name="thought_panel">
    <div class="thought-panel ronin-wnd-content">

        <form class="js-panel edit-panel">
            <div class="collapse show" id="{{collapsableId}}">
                <table class="edit-body w-100">
                    <tr>
                        <td class="label x-hright"><p>Thought:</p></td>
                        <td>
                            <input
                                name="name"
                                class="js-name form-control"
                                type="text"
                                placeholder="{{namePlaceholder}}"
                                value="{{nameValue}}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label x-hright"><p>Topic:</p></td>
                        <td>{{> topics_select selected=topic }}</td>
                    </tr>
                    <tr>
                        <td class="label x-hright x-vtop"><p>Description:</p></td>
                        <td>
                            <textarea
                                name="description"
                                class="js-description form-control"
                                rows="3"
                                placeholder="{{descriptionPlaceholder}}">{{descriptionValue}}</textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </form>

    </div>
</template>
