<template name="energy_value_edit">
    <div class="energy-value-edit setup-edit">
        <form class="js-edit">
            <div class="edit-header">
                <p class="x-h2">{{title}}</p>
                <button type="submit" class="btn-submit x-radius ui-button">{{submit}}</button>
                <a class="js-cancel btn-cancel" href="#">
                    <div class="ui-state-default ui-corner-all ui-button" title="Cancel">
                        <span class="ui-icon ui-icon-close"></span>
                    </div>
                </a>
            </div>
            <table class="edit-body">
                <tr>
                    <td class="label x-hright"><p>Name:</p></td>
                    <td class="x-w100">
                        <input
                            name="name"
                            class="js-name x-w100"
                            type="text"
                            placeholder="{{namePlaceholder}}"
                            value="{{nameValue}}" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</template>
