<template name="time_value_edit">
    <div class="time-value-edit">
        <form class="js-edit">
            <div class="edit-header">
                <h2>{{title}}</h2>
                <a class="js-cancel btn-cancel" href="#">
                    <div class="ui-state-default ui-corner-all" title="Cancel">
                        <span class="fas fa-times x-font"></span>
                    </div>
                </a>
                <button type="submit" class="btn-submit x-radius ui-button">{{submit}}</button>
            </div>
            <table class="edit-body">
                <tr>
                    <td class="label x-hright"><p>Name:</p></td>
                    <td class="x-w100">
                        <input
                            name="name"
                            class="js-name x-w100"
                            type="text"
                            placeholder="{{namePlaceholder}}"
                            value="{{nameValue}}" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</template>
