<template name="action_card">
    <div class="actions-list-item card x-card" id={{itemDivId}}>

        <a class="title x-px025"
            href="#{{collapsableId}}"
            data-toggle="collapse" data-action="{{ action._id }}">

            <div class="d-flex flex-row justify-content-start align-items-center">

                <div class="name x-ellipsed {{className}}">
                    <p class="x-ellipsize">{{ action.name }}</p>
                </div>
                <div class="topic x-ellipsed {{classTopic}}">
                    <p class="x-ellipsize">{{ topic_byId action.topic }}</p>
                </div>
                <div class="x-createdAt x-ellipsed {{classCreatedAt 'item'}}">
                    <p class="x-ellipsize">{{ lastUpdated action }}</p>
                </div>
            </div>

        </a>

        <div class="x-px025 collapse" id="{{collapsableId}}" data-parent="{{ parent }}">
            <div class="actions-list-card x-py025">

                    <div class="description">{{action.description}}</div>

                    <div class="x-createdAt {{classCreatedAt 'card'}}">
                        <p>{{ lastUpdated action }}</p>
                    </div>

                    <div class="actions d-flex flex-row justify-content-between align-items-center">

                        {{> edit_button action=action.editAction }}
                        {{> ownership_button item=action }}

                        <div class="x-lh15">
                            <input type="checkbox" class="js-done" {{checked}}>
                            <label>Done</label>
                        </div>

                        {{> project_button action=action.projectAction }}
                        {{> delete_button action=action.deleteAction }}

                    </div>

                </div>
            </div>

    </div>
</template>
