.ronin-itabbed.jqx-tabs {
    font-size: 1rem;
    .jqx-tabs-header {
        padding-left: 0.125rem;
    }
    .jqx-widget-content {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0 0.125rem;
    }
    .jqx-tabs-arrow-left {
        background-image: url( '/jqwidgets/icon-left.png' );
        width: 1rem;
    }
    .jqx-tabs-arrow-right {
        background-image: url( '/jqwidgets/icon-right.png' );
        width: 1rem;
    }
}
/*
 * doesn't work as jqxTabs sets css to element themselves
 */
.ronin-lyt-page {
    .ronin-itabbed.jqx-tabs .jqx-tabs-header {
        .jqx-tabs-arrow-background {
            width: 1.5rem;
        }
    }
}
