<template name="process_tabs">
    <div class="process-tabs ronin-wnd-content">
        <p class="x-h2">What to do with this thought?</p>
        <div class="process-tabbed">
            <ul>
                <li data-itabbed="action"><a href="#action">Transform the thought into an action</a></li>
                <li data-itabbed="project"><a href="#project">Transform the thought into a project</a></li>
                <li data-itabbed="maybe"><a href="#maybe">Someday / Maybe</a></li>
            </ul>
            <div id="action">
                {{> to_action thought=thought }}
            </div>
            <div id="project">
                {{> to_project thought=thought }}
            </div>
            <div id="maybe">
                {{> to_maybe thought=thought }}
            </div>
        </div>
    </div>
</template>
