div.layout-desktop {
    .lyt-bar {
        height: 2em;
        background-color: #eeeeee;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lyt-body {
        display: flex;
        .side {
            margin-top: 0.5em;
            margin-right: 0.5em;
        }
    }
    .lyt-main {
        flex-grow: 1;
    }
    .ui-tabs .ui-tabs-panel {
        padding: 0;
    }
    .ui-dialog {
        padding: 0;
    }
    .ui-dialog-titlebar {
        border-radius: 3px 3px 0 0;
    }
    .ui-spinner-input {
        text-align: right;
        padding-right: 3px;
    }
    .ui-icon {
        background-image: url('/jquery-ui/ui-icons_777777_256x240.png');
    }
}
