<template name="appDesktop">
    <div class="layout-desktop">
        <div class="lyt-bar">
            <p>menu bar here</p>
            {{>errors}}
        </div>
        <div class="lyt-body">
            <div class="side">
                {{> menu_side}}
            </div>
            <div class="lyt-main">
                {{> overview}}
                {{> Template.dynamic template=main}}
            </div>
        </div>
        <div class="lyt-taskbar">
        </div>
    </div>
</template>
