<template name="thoughts_list">
    <div class="thoughts-list">
        <table>
            {{#each item in cursor}}
                <tr class="item" id="thought_{{_id}}">
                    <td class="icon-first">
                        {{#if isEditable editable}}
                            <a class="js-update" id="{{ updateId item }}" href="#">
                                <div class="ui-state-default ui-corner-all" title="Edit {{ item.name }}">
                                    <span class="fas fa-edit x-font"></span>
                                </div>
                            </a>
                        {{/if}}
                    </td>
                    <td class="x-w100">
                        <table>
                            <tr>
                                <td class="name"><p>{{ item.name }}</p></td>
                                <td class="topic"><p>{{ topic_byId item.topic }}</p></td>
                                <td class="x-createdAt"><p>{{ lastUpdated item }}</p></td>
                            </tr>
                            {{#if hasDescription withDescription}}
                                <tr>
                                    <td colspan="3" class="description x-hright">
                                        <p>{{item.description}}</p>
                                    </td>
                                </tr>
                            {{/if}}
                        </table>
                    </td>
                    <td class="icon-last">
                        {{#if isEditable editable}}
                            <a class="js-delete" id="{{ item._id }}" href="#">
                                <div class="ui-state-default ui-corner-all" title="Delete">
                                    <span class="fas fa-trash x-font"></span>
                                </div>
                            </a>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</template>
