<template name="projects_tabs">
    <div class="projects-tabs">
        <div class="projects-tabbed">
            <ul>
                {{#each it in gtdItems}}
                    <li data-itabbed="{{ it.id }}" data-pwi-iroutable-route="{{ gtdRoute it }}">
                        <a href="#{{ it.id }}">{{ gtdLabel it }}</a>
                    </li>
                {{/each}}
            </ul>
            {{#each it in gtdItems}}
                <div id="{{ it.id }}">
                    {{> projects_tree tab=it.id label=(gtdLabel it) }}
                </div>
            {{/each}}
        </div>
    </div>
</template>
