<template name="projects_tabs">
    <div class="projects-tabs">
        <div class="projects-tabbed">
            <ul>
                {{#each it in counters}}
                    <li data-itabbed="{{it.tabid}}" data-pwi-iroutable-route="review.{{it.tabid}}"><a href="#{{it.tabid}}">{{it.value}}</a></li>
                {{/each}}
            </ul>
            {{#each it in counters}}
                <div id="{{it.tabid}}">
                    {{> projects_tree tab=it.tabid label=it.value }}
                </div>
            {{/each}}
        </div>
    </div>
</template>
