<template name="thoughts_grid">
    <div class="thoughts-grid">

        <table class="js-grid">
            <thead>
                <tr>
                    <th class="x-w15"></th>
                    <th data-column-name="name" class="x-w50 igrid-border igrid-sortable">Name</th>
                    <th data-column-name="topic" class="x-w30 igrid-border igrid-sortable">Topic</th>
                    <th data-column-name="created" class="igrid-border igrid-sortable">Updated</th>
                    <th class="x-wmin"></th>
                </tr>
            </thead>
            <tbody>
                {{#each it in thoughts}}
                    <tr data-row-id="{{ it._id }}">
                        <td class="btn-actions">
                            {{> edit_button item=it }}
                            {{> ownership_button item=it }}
                            {{> action_button item=it }}
                            {{> project_button item=it }}
                        </td>
                        <td class="x-ellipsize"><p>{{ getName it }}</p></td>
                        <td class="x-ellipsize"><p>{{ getTopic it }}</p></td>
                        <td>{{ getCreated it }}</td>
                        <td class="btn-actions">
                            {{> delete_button item=it }}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</template>
