<template name="review_tabs">
    <div class="review-tabs">
        <div class="review-tabbed">
            <ul>
                <li data-itabbed="projects">Projects</li>
                <li data-itabbed="actions">Actions</li>
                <li data-itabbed="future">Future projects</li>
            </ul>
            <div>
                {{> projects_tree tab='projects' label='Projects' }}
            </div>
            <div>
                {{> projects_tree tab='actions' label='Single actions' }}
            </div>
            <div>
                {{> projects_tree tab='future' label='Future projects' }}
            </div>
        </div>
    </div>
</template>
