.ronin-igrid-table {
    white-space: nowrap;
    width: 100%;
    line-height: 2rem;
    td.x-wmin {
        width: 1%;
    }
    thead {
        th {
            font-size: 1rem;
            font-weight: normal;
            .ronin-igrid-name {
                flex-grow: 1;
            }
            .ronin-igrid-sort-btn {
                cursor: pointer;
                color: gray;
            }
        }
        th.igrid-border {
            border: 1px solid lightgray;
        }
    }
    tbody:before {
        content: "-";
        display: block;
        line-height: 1px;
        color: transparent;
    }
    tbody {
        font-size: 1rem;
        font-weight: normal;
        tr:nth-child(2n+1){
            background-color: lighten( @app-color, 35% );
        }
        .btn-actions {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
        }
    }
    th, td {
        padding: 0 0.25rem;
    }
}
/* group-dependant colors
 * windowLayout only
 */
.ronin-lyt-window {
    /*
    .ronin-iwm-setupGroup {
        .ui-tabs-tab.ui-state-active,
        .ui-widget-header.ui-state-active {
            background: @setup-color;
            border: 0;
        }
    }
    */
    .ronin-iwm-collectGroup {
        .ronin-igrid-table tbody tr:hover {
            background-color: @collect-color-lightest;
        }
    }
    /*
    .ronin-iwm-processGroup {
        .ui-tabs-tab.ui-state-active,
        .ui-widget-header.ui-state-active {
            background: @process-color;
            border: 0;
        }
    }
    */
    .ronin-iwm-reviewGroup {
        .ronin-igrid-table tbody tr:hover {
            background-color: @review-color-lightest;
        }
    }
}
