.pwi-igrid {
    .contextmenu-showing .jqx-grid-cell {
        background-color: @context-item-bg-color;
    }
    /*  background-color doesn't work
    div.jqx-grid-header {
        background-color: @review-color-light;
        color: white;
        height: 24px;
    }
    */
}
