<template name="action_panel">
    <div class="action-panel ronin-content">

        <table class="w-100">
            <tr>
                <td class="label x-hright"><p>Action:</p></td>
                <td>
                    <input class="js-name w-100 form-control"
                            autofocus="autofocus"
                            type="text" placeholder="Name" value="{{ valName }}" />
                </td>
            </tr>
            <tr>
                <td class="label x-hright"><p>Topic:</p></td>
                <td>
                    {{> topics_select selected=valTopic }}
                </td>
            </tr>
            <tr>
                <td class="label x-hright"><p>Successful outcome:</p></td>
                <td>
                    <input class="js-outcome w-100 form-control"
                            type="text" placeholder="Successful outcome" value="{{valOutcome}}" />
                </td>
            </tr>
            <tr>
                <td class="label x-hright"><p>Context:</p></td>
                <td>
                    {{> contexts_select selected=valContext }}
                </td>
            </tr>
            <tr>
                <td class="label x-hright x-vtop"><p>Description:</p></td>
                <td>
                    <textarea
                        name="description"
                        class="js-description w-100 form-control"
                        placeholder="Description of the action"
                        rows="3">{{ valDescription }}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label x-hright"><p>Project:</p></td>
                <td>
                    {{> projects_select selected=valParent }}
                </td>
            </tr>
            <tr>
                <td class="label x-hright"><p>Status:</p></td>
                <td>
                    {{> action_status_select selected=valStatus }}
                </td>
            </tr>
            <tr>
                <td class="label x-hright"><p>Start date:</p></td>
                <td class="js-datestart" title="Start date">{{> date_select date=valStartDate }}</td>
            </tr>
            <tr>
                <td class="label x-hright"><p>Due date:</p></td>
                <td class="js-datedue" title="Due date">{{> date_select date=valDueDate }}</td>
            </tr>
            <tr>
                <td class="label x-hright"><p>Done date:</p></td>
                <td class="js-datedone" title="Done date">{{> date_select date=valDoneDate }}</td>
            </tr>
            <tr>
                <td class="label x-hright x-vtop"><p>Notes:</p></td>
                <td>
                    <textarea
                        name="notes"
                        class="js-notes w-100 form-control"
                        placeholder="Notes"
                        rows="3">{{ valNotes }}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label panel-owner-title x-hright"><p>Owner:</p></td>
                <td class="js-owner panel-owner" title="Owner">{{valOwner}}</td>
            </tr>
            <tr>
                <td class="label panel-id-title x-hright"><p>Id.:</p></td>
                <td class="js-id panel-id" title="Id">{{valId}}</td>
            </tr>
        </table>

    </div>
</template>
