<template name="overview">
    <div class="overview">
        <table>
            {{#each item in gtdFeatures}}
                {{#if isVisible 'view' item}}
                    <tr class="{{ item.id }}">
                        <td class="x-vcenter">
                            <div class="title">
                                <h2>{{ item.label }}</h2>
                                {{#if item.h3}}
                                    {{{ displayH3 item }}}
                                {{/if}}
                            </div>
                        </td>
                        <td>
                            <div class="items">
                                {{#each child in item.children}}
                                    {{#if isVisible 'view' child}}
                                        {{{ subLink item child }}}
                                    {{/if}}
                                {{/each}}
                            </div>
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
        </table>
    </div>
</template>
