<template name="apk_panel">
    <div class="apk-panel ronin-content">

        <table class="w-100">
            <tr>
                <td class="label">
                    <p>
                        Ronin lets you download here the last - 1 version of the Android APK.
                    </p>
                    <p>
                        Though this is not the very last version, you do not have to worry about that!
                    </p>
                    <p>
                        Once installed on your Android device, the APK will update itself with each
                        new released version.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="label d-flex justify-content-center">
                    <a class="ui-button ui-corner-all" href="{{ apkUrl }}?download" target="_parent">{{ apkLabel }}</a>
                </td>
            </tr>
        </table>

    </div>
</template>
