.plus-button {
    position: absolute;
    bottom: 4rem;
    right: 1.5rem;
    z-index: 1;
    button {
        font-size: 125%;
        padding: 0.6rem 0.8rem;
        color: @app-color;
        border-color: @app-color;
        background-color: rgba( 237, 237, 237, 0.7 );
    }
}
