<template name="topic_edit">
    <div class="topic-edit">
        <form class="js-edit">
            <div class="edit-header">
                <p class="x-h2">{{title}}</p>
                <button type="submit" class="btn-submit x-radius ui-button">{{submit}}</button>
                <a class="js-cancel btn-cancel" href="#">
                    <div class="ui-state-default ui-corner-all ui-button" title="Cancel">
                        <span class="ui-icon ui-icon-close"></span>
                    </div>
                </a>
            </div>
            <table class="edit-body">
                <tr>
                    <td class="label x-hright"><p>Name:</p></td>
                    <td class="x-w100">
                        <input
                            name="name"
                            class="js-name x-w100"
                            type="text"
                            style="color:{{textColor}}; background-color:{{backgroundColor}}"
                            placeholder="{{namePlaceholder}}"
                            value="{{nameValue}}" />
                    </td>
                </tr>
                <tr>
                    <td class="label x-hright x-vtop"><p>Description:</p></td>
                    <td>
                        <textarea
                            name="description"
                            class="js-description x-w100"
                            rows="3"
                            placeholder="{{descriptionPlaceholder}}">{{descriptionValue}}</textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="js-textcolor x-radius ui-button">Text color</button>
                        <button class="js-backcolor x-radius ui-button">Background color</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</template>
