div.page-layout {
    .lyt-header {
        background-color: @home-color;
        color: white;
        .ui-button {
            color: white;
            background-color: transparent;
            border-color: white;
        }
    }
    .collect-list,
    .collect-edit,
    .process-action,
    .process-project {
        margin-top: 0.25rem;
    }
    .collapse-buttons {
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        border-top: 1px solid @border-color;
    }
    /* edition pages wsf- */
    /*
    .wsf-parent {
        .wsf-header {
            display: hidden;
        }
        .wsf-content {
            position: absolute;
            top: @topbar-height;
            bottom: ( @bottombar-height + @bottombar-height );
            overflow-y: auto;
        }
        .wsf-footer {
            margin: 0.25rem;
            width: 90%;
            position: absolute;
            bottom: @bottombar-height;
            line-height: @bottombar-height;
        }
    }
    */
    .lyt-footer {
        a {
            color: @active-color;
        }
        .active {
            background-color: @active-color;
            color: white;
        }
        @media ( max-width: 380px ){
            .nav-link {
                padding: 0.5rem 0.25rem;
            }
        }
    }
}
