div.page-layout {
    .lyt-header {
        background-color: @home-color;
        color: white;
        .ui-button {
            color: white;
            background-color: transparent;
            border-color: white;
        }
    }
    /* edition pages wsf- */
    .wsf-parent {
        .wsf-header {
            display: hidden;
        }
        .wsf-content {
            position: fixed;
            top: @topbar-height;
            bottom: ( @bottombar-height + @bottombar-height );
            overflow-y: auto;
            margin: 0.25rem 0;
            padding-right: 0.5rem;
        }
        .wsf-footer {
            position :fixed;
            bottom: @bottombar-height;
            height: @bottombar-height;
            width: 100%;
            padding: 0.25rem 0;
            padding-right: 1rem;
            border-top: 1px solid @border-color;
            //background-color:@home-color-l50;
        }
    }
    /* list cards */
    .x-card {
        margin: 0.125rem 0;
        line-height: 2.5rem;
        a {
            color: inherit;
        }
        .name p {
            font-weight: bold;
        }
        .title button {
            margin: 0.25rem;
            margin-right: 0;
        }
        .ui-button {
            padding: 0.25em 0.5em;
        }
    }
    .x-card.opened-card .title {
        background-color: @home-color-l50;
    }
    .lyt-footer {
        a {
            color: @active-color;
        }
        .active {
            background-color: @active-color;
            color: white;
        }
        @media ( max-width: 380px ){
            .nav-link {
                padding: 0.5rem 0.25rem;
            }
        }
    }
}
