<template name="pageLayout">
    <div class="page-layout ronin-layout container-fluid x-topmost">

        {{> messageTmpl }}

        <div class="fhsf-parent">

            <div class="lyt-header fhsf-header x-px05">
                {{> header_panel }}
            </div>

            <div class="lyt-content fhsf-content x-px05">
                {{> Template.dynamic template=page data=pageContext }}
            </div>

            <div class="lyt-footer fhsf-footer">
                {{> footer_panel }}
            </div>
        </div>

        <div class="x-hidden">{{{ resized }}}</div>

    </div>
</template>
