<template name="to_action">
    <div class="to-action">

        <table class="w-100">
                <tr>
                    <td class="label x-hright"><p>Action:</p></td>
                    <td>
                        <input class="js-name w-100 form-control" type="text" value="{{ thought.name }}" />
                    </td>
                </tr>
                <tr>
                    <td class="label x-hright"><p>Topic:</p></td>
                    <td class="js-topic">
                        {{> topics_select selected=thought.topic}}
                    </td>
                </tr>
                <tr>
                    <td class="label x-hright"><p>Successful outcome:</p></td>
                    <td><input class="js-outcome w-100 form-control" type="text" size="40" placeholder="Successful outcome" /></td>
                </tr>
                <tr>
                    <td class="label x-hright"><p>Context:</p></td>
                    <td class="js-context">
                        {{> contexts_select}}
                    </td>
                </tr>
                <tr>
                    <td class="label x-hright x-vtop"><p>Description:</p></td>
                    <td>
                        <textarea
                            name="description"
                            class="js-description w-100 form-control"
                            placeholder="Description of the action"
                            rows="3" cols="40">{{ thought.description }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label x-hright"><p>Project:</p></td>
                    <td class="js-project">
                        {{> projects_select}}
                    </td>
                </tr>
                <tr>
                    <td class="label x-hright"><p>Status:</p></td>
                    <td class="js-status">{{> action_status_select}}</td>
                </tr>
                <tr>
                    <td class="label x-hright"><p>Start date:</p></td>
                    <td class="js-datestart" title="Start date">{{> date_select }}</td>
                </tr>
                <tr>
                    <td class="label  x-hright"><p>Due date:</p></td>
                    <td class="js-datedue" title="Due date">{{> date_select }}</td>
                </tr>
                <tr>
                    <td class="label  x-hright"><p>Done date:</p></td>
                    <td class="js-datedone" title="Done date">{{> date_select }}</td>
                </tr>
            </table>

        <div class="actions d-flex justify-content-start align-items-center">
            <div class="flex-grow-1">
                <button class="js-cancel btn-cancel ui-button ui-corner-all" title="Cancel">
                    <span class="fas fa-times"></span>
                </button>
            </div>
            <button class="js-transform ui-button ui-corner-all">
                Transform
            </button>
        </div>

    </div>
</template>
