<template name="to_maybe">
    <div class="to-maybe">
        <p>
                    This thought may be processed someday or another.<br />
                    Keep it for future reference,<br />
                    but remove it from the thoughts collector, and does not<br />
                    present it in the future processes.
        </p>
        <!--
        <table class="first">
            {{#each it in thought}}
            {{/each}}
        </table>
        -->
    </div>
</template>
