<template name="device_panel">
    <div class="device-panel ronin-wnd-content">

        <table class="w-100">
            <tr>
                <td colspan="2">
                    <div class="title">detectIt</div>
                </td>
            </tr>
            <tr>
                <td class="label x-hright x-pl1"><p>deviceType:</p></td>
                <td>{{deviceType}}</td>
            </tr>
            <tr>
                <td class="label x-hright x-pl1"><p>hasMouse:</p></td>
                <td>{{hasMouse}}</td>
            </tr>
            <tr>
                <td class="label x-hright x-pl1"><p>hasTouch:</p></td>
                <td>{{hasTouch}}</td>
            </tr>
            <tr>
                <td class="label x-hright x-pl1"><p>primaryInput:</p></td>
                <td>{{primaryInput}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="title">run</div>
                </td>
            </tr>
            <tr>
                <td class="label x-hright x-pl1"><p>layout:</p></td>
                <td>{{layout}}</td>
            </tr>
            <tr>
                <td class="label x-hright x-pl1"><p>back:</p></td>
                <td>{{back}}</td>
            </tr>
            <tr>
                <td class="label x-hright x-pl1"><p>width:</p></td>
                <td>{{width}}</td>
            </tr>
            <tr>
                <td class="label x-hright x-pl1"><p>height:</p></td>
                <td>{{height}}</td>
            </tr>
        </table>

    </div>
</template>
