<template name="device_run">
    <div class="device-run">

        <table class="w-100">
            <tr>
                <td class="label x-hright w-50 disabled"><p>layout:</p></td>
                <td>{{runLayout}}</td>
            </tr>
            <tr>
                <td class="label x-hright w-50 disabled"><p>width:</p></td>
                <td>{{runWidth}}</td>
            </tr>
            <tr>
                <td class="label x-hright w-50 disabled"><p>height:</p></td>
                <td>{{runHeight}}</td>
            </tr>
            <tr>
                <td class="label x-hright w-50 disabled"><p>absoluteUrl:</p></td>
                <td>{{runAbsoluteUrl}}</td>
            </tr>
            <tr>
                <td class="label x-hright w-50 disabled"><p>history.length:</p></td>
                <td>{{runHistoryLength}}</td>
            </tr>
        </table>

    </div>
</template>
