<template name="thought_card">
    <div class="thoughts-list-item card x-card" id={{itemDivId}}>

        <a  class="title x-ellipsize"
            href="#{{collapsableId}}"
            data-toggle="collapse" data-thought="{{ thought._id }}">

            <div class="x-px025 d-flex flex-row justify-content-start align-items-center">

                <div class="name {{className}}">
                    <p>{{ thought.name }}</p>
                </div>
                <div class="topic {{classTopic}}">
                    <p>{{ topic_byId thought.topic }}</p>
                </div>
                <div class="x-createdAt {{classCreatedAt 'item'}}">
                    <p>{{ lastUpdated thought }}</p>
                </div>
            </div>

        </a>

        <div class="x-px025 collapse" id="{{collapsableId}}" data-parent=".thoughts-list">
            <div class="thoughts-list-card x-py025">

                <div class="description">{{thought.description}}</div>

                <div class="x-createdAt {{classCreatedAt 'card'}}">
                    <p>{{ lastUpdated thought }}</p>
                </div>

                <div class="actions d-flex flex-row justify-content-between align-items-center">

                    {{> edit_button item=thought }}
                    {{> ownership_button item=thought }}
                    {{> action_button item=thought }}
                    {{> project_button item=thought }}
                    {{> maybe_button item=thought }}
                    {{> delete_button item=thought }}

                </div>

            </div>
        </div>

    </div>
</template>
