<template name="thought_card">
    <div class="thoughts-list-item card x-card" id={{itemDivId}}>

        <a  class="title x-px025"
            href="#{{collapsableId}}"
            data-toggle="collapse" data-thought="{{ thought._id }}">

            <div class="d-flex flex-row justify-content-start align-items-center">

                <div class="name x-ellipsed {{className}}">
                    <p class="x-ellipsize">{{ thought.name }}</p>
                </div>
                <div class="topic x-ellipsed {{classTopic}}">
                    <p class="x-ellipsize">{{ topic_byId thought.topic }}</p>
                </div>
                <div class="x-createdAt x-ellipsed {{classCreatedAt 'item'}}">
                    <p class="x-ellipsize">{{ lastUpdated thought }}</p>
                </div>
            </div>

        </a>

        <div class="x-px025 collapse" id="{{collapsableId}}" data-parent="{{ parent }}">
            <div class="thoughts-list-card x-py025">

                <div class="description">{{thought.description}}</div>

                <div class="x-createdAt x-ellipsize {{classCreatedAt 'card'}}">
                    <p>{{ lastUpdated thought }}</p>
                </div>

                <div class="actions d-flex flex-row justify-content-between align-items-center">

                    {{> edit_button action=thought.editAction }}
                    {{> ownership_button item=thought }}
                    {{> action_button item=thought }}
                    {{> project_button item=thought }}
                    {{> maybe_button item=thought }}
                    {{> delete_button action=thought.deleteAction }}

                </div>

            </div>
        </div>

    </div>
</template>
