<template name="actions_list_card">
    <div class="actions-list-card x-py025">

        <div class="description">
            <p>{{action.description}}</p>
        </div>

        <div class="x-createdAt {{classCreatedAt}}">
            <p>{{ lastUpdated action }}</p>
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center">

            <button class="js-edit ui-button ui-corner-all" title="Edit">
                <span class="fas fa-edit"></span>
            </button>

            <button class="js-done ui-button ui-corner-all" title="Done">
                <span class="fas fa-check"></span>
            </button>

            <button class="js-delete ui-button ui-corner-all" title="Delete">
                <span class="fas fa-trash"></span>
            </button>

        </div>

    </div>
</template>
