div.ui-widget-header.ui-state-active {
    background: @collect-color;
    border: darken( @collect-color, 25% );
}
.simone-taskbar-window-button[data-group-name*='collect'].ui-state-active {
    background-color: @collect-color;
    border: darken( @collect-color, 25% );
}
.simone-taskbar-window-button[data-group-name*='collect']:hover,
.simone-taskbar-window-button[data-group-name*='collect'].ui-state-active:hover {
    background-color: lighten( @collect-color, 25% );
    border: @collect-color;
    color: white
}
